.support-event {
  font-family: cocogoose, sans-serif;
  font-weight: 900;
  padding: 100px;
  color: var(--orange-color);
}

.align-center {
  margin: 0 auto;
  width: max-content;
  max-width: 100%;
}

.event-name {
  padding: 100px;
  font-size: 2rem;
}

.old-event {
  padding: 100px 0 40px 0;
  font-size: 2rem;
}

.support-event::after,
.event-name::after,
.old-event::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 1rem;
  border-bottom: solid 3px var(--orange-color);
}

.about-event {
  background-color: #f4f4f4;
  margin: 0 auto;
}

.about-event-quote {
  width: 40%;
  margin: 1rem auto;
  padding: 1.5rem;
  color: var(--dark-grey-color);
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  border: solid 4px #fff;
}

.contact-us {
  width: max-content;
  max-width: 100%;
  margin: 5rem auto 0.25rem auto;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
}

.email {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  padding-bottom: 5rem;
  text-decoration: underline;
}

.summit-logo {
  background-color: #fff;
  width: 100%;
  padding-bottom: 100px;
  border-bottom: 1px solid var(--dark-grey-color);
}

.credits {
  font-size: 1.35rem;
}

.credit-section {
  padding-bottom: 100px;
}

.past-event {
  padding: 0 10%;
  display: grid;
  grid-template-rows: 296px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.event-one {
  grid-row: 1;
  grid-column: 1;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(207, 98, 76, 0.5), rgba(207, 98, 76, 0.5)), url(images/image-2018.jpg);
  position: relative;
}

.event-two {
  grid-row: 1;
  grid-column: 2;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(207, 98, 76, 0.5), rgba(207, 98, 76, 0.5)), url(images/image-2019.jpg);
  position: relative;
}

.image-width {
  width: 100%;
  vertical-align: middle;
}

.bottomLeft {
  position: absolute;
  color: #fff;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.past {
  padding-bottom: 150px;
}

.dark-background {
  background-color: var(--dark-grey-color);
}

@media (max-width: 768px) {
  .past-event {
    grid-template-rows: 296px 296px;
    grid-template-columns: 1fr;
  }

  .event-two {
    grid-row: 2;
    grid-column: 1;
  }

  .w-100 {
    width: 250px;
    margin: 0 auto;
  }

  .support-event,
  .event-name,
  .footer,
  .past-event {
    padding: 10px;
  }

  .link-without-decoration {
    text-decoration: none;
    color: #000;
  }
}
