.hero-image {
  width: 100%;
  height: 15rem;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  position: relative;
  opacity: 10%;
}

.hero-text {
  position: absolute;
  bottom: 5%;
  left: 10%;
  font-family: "Lato", sans-serif;
  color: var(--orange-color);
}

.relative-position {
  position: relative;
}

.support-text {
  color: var(--orange-color);
  font-family: cocogoose, sans-serif;;
  font-weight: 900;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

.event-info {
  background-color: #f4f4f4;
  padding-left: 10%;
}

.event-quote {
  width: 40%;
  margin-top: 1rem;
  padding: 1.5rem;
  color: var(--black-color);
  font-family: "Lato", sans-serif;
  border: solid 4px #fff;
}

.event-time {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: cocogoose, sans-serif;
  color: var(--dark-grey-color);
}

.event-location {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: var(--dark-grey-color);
  padding-bottom: 150px;
}

.main-program {
  background-color: var(--black-color);
  padding: 4rem 10%;
  display: grid;
  grid-template-rows: 125px auto 75px;
  grid-template-columns: repeat(5, auto);
  grid-gap: 0.5rem;
}

.heading-here {
  grid-row: 1;
  grid-column: 2/5;
  color: white;
  font-size: 2rem;
  margin: 0 auto;
}

.heading-here::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 1rem;
  border-bottom: solid 2px var(--orange-color);
}

.light-background {
  background-color: #3c3f46;
}

.flex-program {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-size: x-large;
}

.program-padding {
  padding: 1rem 0.5rem;
}

.color-white {
  color: #fff;
}

.first-program {
  grid-row: 2;
  grid-column: 1;
}

.second-program {
  grid-row: 2;
  grid-column: 2;
}

.third-program {
  grid-row: 2;
  grid-column: 3;
}

.fourth-program {
  grid-row: 2;
  grid-column: 4;
}

.fifth-program {
  grid-row: 2;
  grid-column: 5;
}

.first-program:hover,
.second-program:hover,
.third-program:hover,
.fourth-program:hover,
.fifth-program:hover {
  border: 2px solid #fff;
}

.program-image {
  height: 3rem;
  margin: 0.5rem;
}

.small-font {
  font-size: 1.50rem;
  margin: 0 0.5rem;
}

.program-head {
  margin: 1rem auto 0.5rem auto;
  color: var(--orange-color);
}

@media (max-width: 1024px) {
  .main-program {
    padding: 0;
  }
}

.whole-program {
  grid-row: 3;
  grid-column: 2/5;
  margin: auto;
  text-decoration: underline;
}

.featured-guests {
  display: grid;
  padding: 0 10%;
  grid-template-rows: 200px repeat(4,1fr);
  grid-template-columns: repeat(2,1fr);
}

.heading-guest{
  grid-row: 1;
  grid-column: 1/-1;
  color: var(--black-color);
  font-size: 2rem;
  margin: auto;
}

.heading-guest::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 1rem;
  border-bottom: solid 2px var(--orange-color);
}

.guest-profile {
  display: flex;
}

.guest-image {
  margin: 1rem;
  width: 25%;
  min-width: 25%;
}

.guest-image-size {
  width: 100%;
}

.about-guest{
  margin: 0.5rem;
}

.guest-name {
  font-size: 2rem;
  color: #000;
}

.guest-info {
  font-size: 1rem;
  color: var(--orange-color);
}

.guest-info::after {
  display: block;
  content: "";
  left: 0;
  bottom: 0;
  height: 10px;
  width: 10%;
  border-bottom:1px solid #000;
}

.guest-details {
  color: #000;
}

.first-guest{
  grid-row: 2;
  grid-column: 1;
}

.second-guest{
  grid-row: 2;
  grid-column: 2;
}

.third-guest{
  grid-row: 3;
  grid-column: 1;
}

.fourth-guest{
  grid-row: 3;
  grid-column: 2;
}

.fifth-guest{
  grid-row: 4;
  grid-column: 1;
}

.sixth-guest{
  grid-row: 4;
  grid-column: 2;
}

.seventh-guest{
  grid-row: 5;
  grid-column: 1;
}

.eighth-guest{
  grid-row: 5;
  grid-column: 2;
}